@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply w-full px-3 py-2 rounded bg-gray-900 border border-gray-700 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#04d9ff];
    }
}